<mat-tab-group>
    <mat-tab label='Payee'>
        <p class='contentPadding'>Name: {{ payment.Payee.Name }}</p>
        <p>Fax: {{ payment.Payee.Fax }}</p>
        <p>Phone: {{ payment.Payee.Phone }}</p>
        <span *ngIf='payment.Payee.Address.Address2 != ""'>
            <p>Address: {{ payment.Payee.Address.Address1 }}, {{ payment.Payee.Address.Address2 }}, {{ payment.Payee.Address.City }}, {{ payment.Payee.Address.StateOrProvince }}, {{ payment.Payee.Address.PostalCode }}, {{ payment.Payee.Address.Country }}</p>
        </span>
        <span *ngIf='payment.Payee.Address.Address2 == ""'>
            <p>Address: {{ payment.Payee.Address.Address1 }}, {{ payment.Payee.Address.City }}, {{ payment.Payee.Address.StateOrProvince }}, {{ payment.Payee.Address.PostalCode }}, {{ payment.Payee.Address.Country }}</p>
        </span>
        <p>Attention: {{ payment.Payee.Attention }}</p>
        <p>Submission Data: {{ payment.Payee.SubmissionDate | date:'MM/dd/yyyy' }}</p>
    </mat-tab>

    <mat-tab label='Payment'>
        <p class='contentPadding'>PAN: {{ payment.Payment.PAN }}</p>
        <P>CVV: {{ payment.Payment.CVV }}</P>
        <p>Expiration: {{ payment.Payment.Exp }}</p>
    </mat-tab>

    <mat-tab label='Remittance'>
        <div class='contentPadding' *ngFor='let remittanceItem of payment.Remittance'>
            <p>Payor Name: {{ remittanceItem.PayorName }}</p>
            <p>Payor Id: {{ remittanceItem.PayorId }}</p>
            <p>Invoice Number: {{ remittanceItem.InvoiceNo }}</p>
            <p>Description: {{ remittanceItem.Description }}</p>
            <p>Amount: {{ remittanceItem.Amount }}</p>
            <hr>
        </div>
    </mat-tab>
</mat-tab-group>