<div class='container'>
    <div class='row'>
        <div class='col-xl-12' id='page-header'>
            <h1 class='text-center'>Client Payments</h1>
        </div>
    </div>

    <div class='row'>
        <div class='col-xl-12' id='payment-data-table'>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

            <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
                  <mat-cell *matCellDef="let data"> {{ data.Payee.Name }} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="submissionDate">
                  <mat-header-cell *matHeaderCellDef> Submission Date </mat-header-cell>
                  <mat-cell *matCellDef="let data"> {{ data.Payee.SubmissionDate | date: 'MM/dd/yyyy' }} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="totalRemittanceAmount">
                  <mat-header-cell *matHeaderCellDef> Total Remittance Amount </mat-header-cell>
                  <mat-cell *matCellDef="let data"> {{ data.TotalRemittanceAmount | currency }} </mat-cell>
                </ng-container>
              
                <ng-container matColumnDef="numberOfPayors">
                  <mat-header-cell *matHeaderCellDef> Number of Payors </mat-header-cell>
                  <mat-cell *matCellDef="let data"> {{ data.Remittance.length }} </mat-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;" (click)='openPaymentModal(row)'></mat-row>
              </mat-table>

        </div>
    </div>
</div>
